/* ------------------------------
   Break Points
------------------------------ */

$breakpoints: (
  xs: 480px,
  // phones
  sm: 640px,
  // large phones
  md: 768px,
  // tablet
  lg: 1024px,
  // laptop
  xl: 1280px,
  // desktop
  xxl:1536px // large desktop
);


@mixin respond-down($size) {
  @media (max-width: map-get($breakpoints, $size)) {
    @content;
  }
}



/* ------------------------------
   Modern CSS Reset
------------------------------ */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;

  // @include respond-down(xl) {
  //   font-size: 9px;
  // }

  // @include respond-down(md) {
  //   font-size: 8px;
  // }

  // @include respond-down(sm) {
  //   font-size: 7px;
  // }
}

body {
  line-height: 1.5;
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--grey-100);
  min-height: 100vh;
  font-size: 1.6rem;
  color: var(--black);
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea,
select {
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

input:-webkit-autofill {
  transition: background-color 600000s 0s, color 600000s 0s;
}

#root,
#__next {
  isolation: isolate;
}

/* ------------------------------
   Variables
------------------------------ */

:root {
  /* Primary Colors */
  --purple-500: #854dff;
  --red-400: #ff5757;

  /* Neutral Colors */
  --white: #ffffff;
  --grey-100: #f0f0f0;
  --grey-200: #dbdbdb;
  --grey-500: #716f6f;
  --black: #000000;
}

/* ------------------------------
   Layout & Components
------------------------------ */

.age-calculator-app {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: var(--white);
  border-radius: 2rem;
  border-bottom-right-radius: 30%;
  min-width: 360px;
  max-width: 800px;
  width: 65%;
  min-height: 400px;
  padding: 4.5rem;

  @include respond-down(lg) {
    width: 75%;
  }

  @include respond-down(md) {
    width: 90%;
    padding: 4rem;
  }

  @include respond-down(sm) {
    width: 85%;
    padding: 3rem;
  }

  @include respond-down(xs) {
    width: 95%;
    padding: 4.5rem 2.4rem;
  }

}

/* ------------------------------
   Inputs
------------------------------ */

.dob-inputs {
  display: flex;
  width: 100%;
  gap: 3.5rem;
  margin-bottom: 4rem;

  .dob-input-holder {
    width: 15rem;

    label {
      font-size: 1.1rem;
      color: var(--grey-500);
      letter-spacing: 2.5px;
      font-weight: 700;
      line-height: 2rem;
      padding-left: 2px;
    }

    .error-msg {
      color: var(--red-400);
      font-size: 1.2rem;
      padding: 0.5rem 0 0 0.2rem;
      font-weight: 500;
    }
  }

  .dob-input-box {
    padding: 2rem 2.25rem;
    border-radius: 0.8rem;
    border: 1px solid var(--grey-200);
    width: 100%;
    line-height: 0rem;

    &:focus-within {
      border-color: var(--purple-500);
    }

    .dob-input {

      width: 100%;
      font-size: 3.2rem;
      line-height: 3.6rem;
      height: 3.6rem;
      font-weight: 800;
      letter-spacing: 1px;
      caret-color: var(--purple-500);

      &::placeholder {
        color: var(--grey-500);
      }

      &.no-arrows {
        // Firefox
        -moz-appearance: textfield;

        // Chrome, Safari, Edge
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }

    }
  }

  @include respond-down(lg) {
    gap: 2rem;
    margin-bottom: 3.2rem;

    .dob-input-holder {
      width: 13rem;

      label {
        font-size: 1rem;
        letter-spacing: 2px;
      }

      .error-msg {
        font-size: 1.1rem;

      }
    }

    .dob-input-box {
      padding: 1.75rem 2rem;

      .dob-input {

        width: 100%;
        font-size: 2.4rem;
        line-height: 2.8rem;
        height: 2.8rem;

      }
    }

  }

  @include respond-down(sm) {
    gap: 2rem;
    margin-bottom: 6.4rem;

    .dob-input-holder {
      width: 12rem;

      label {
        font-size: 1rem;
        letter-spacing: 1.75px;
      }

      .error-msg {
        font-size: 0.85rem;

      }
    }

    .dob-input-box {
      padding: 1.4rem 1.6rem;

      .dob-input {

        width: 100%;
        font-size: 2rem;
        line-height: 2.4rem;
        height: 2.4rem;

      }
    }

  }

  @include respond-down(xs) {
    gap: 1.75rem;
    margin-bottom: 5.6rem;

    .dob-input-holder {
      width: 11rem;


      .error-msg {
        font-size: 0.8rem;

      }
    }

    .dob-input-box {
      padding: 1.2rem 1.4rem;

      .dob-input {

        width: 100%;
        font-size: 1.8rem;
        line-height: 2.2rem;
        height: 2.2rem;

      }
    }

  }
}

/* ------------------------------
   Submit Button
------------------------------ */

.submit-box {
  width: 100%;
  height: 2px;
  background-color: var(--grey-100);
  position: relative;

  .submit-btn {
    width: 8rem;
    height: 8rem;
    position: absolute;
    right: 0%;
    top: 0%;
    padding: 2rem;
    // background-color: var(--purple-500);
    border-radius: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      // styling here if needed
    }
  }

  @include respond-down(lg) {
    .submit-btn {
      width: 6.4rem;
      height: 6.4rem;
      padding: 1.6rem;


    }
  }

  @include respond-down(sm) {
    .submit-btn {
      width: 6.2rem;
      height: 6.2rem;
      right: 50%;
      transform: translate(50%, -50%);


    }
  }

  @include respond-down(xs) {
    .submit-btn {
      width: 5.8rem;
      height: 5.8rem;
      padding: 1.5;


    }
  }
}

/* ------------------------------
   Result
------------------------------ */

.calculated-age {
  margin-top: 4rem;
  font-size: 9.6rem;
  font-weight: 800;
  // letter-spacing: -3px;
  font-style: italic;
  line-height: 11rem;

  span {
    color: var(--purple-500);
  }

  @include respond-down(lg) {
    margin-top: 3.2rem;
    font-size: 7.2rem;
    line-height: 9rem;
  }

  @include respond-down(sm) {
    margin-top: 6.4rem;
    font-size: 6rem;
    line-height: 8rem;
  }

  @include respond-down(xs) {
    margin-top: 5.6rem;
    font-size: 5.6rem;
    line-height: 7rem;
  }
}




.letter-spacing-8 {
  letter-spacing: 8px;
}

.display-none {
  display: none;
}

.pd-r-8 {
  padding-right: 8px;
}

.background-purple {
  background-color: var(--purple-500);
}

.background-black {
  background-color: var(--black);
}

.border-color-red-400 {
  border-color: var(--red-400) !important;
}

.color-red-400 {
  color: var(--red-400) !important;
}